
body{
    margin: 0;
}
.col1{
    background-color: rgb(250, 250, 250);
  width: 5rem;
 
}

h1{
    text-align: center;
font-family: 'Lobster', cursive;

}
.logo{
    width: 30px;
}
@media screen and (max-width:576px){
.publicidad{
    width:0px;  
} 
}

